<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>FarmValue Field Details</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>FarmValue {{user['fname']}}'s Field Details</h1>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">Hi {{user['fname']}}</p>
        </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/farms">{{user['fname']}}'s Farm</a></li>
                <li><a href="/thoughts">FarmValue Board</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </nav>

    <hr>
    <div class="container">   
        <h2 id="name">{{user['fname']}}'s Field Deep Dive: </h2>
            
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Acres</th>
                    <th>Acre Value</th>
                    <th>Land Value</th>
                    <th>Crop</th>
                    <th>Crop Price</th>
                    <th>Crop Yield</th>
                    <th>Revenue</th>
                    <th>Expenses</th>
                    <th>Cash Flow</th>
                    <th>Last Updated</th>
                    <th>Comments</th>
                    <th>Delete</th>
                </tr>
            </thead>                    
            <tbody>
            {% for field in farm %}
                <tr>
                    <td>{{field['location']}}</td>
                    <td>{{field['acres']}}</td>
                    <td>{{field['price_per_acre']}}</td>
                    <td>{{field['land_value']}}</td>
                    <td>{{field['crop']}}</td>
                    <td>{{field['crop_price']}}</td>
                    <td>{{field['crop_yield']}}</td>
                    <td>{{field['revenue']}}</td>
                    <td>{{field['expenses']}}</td>
                    <td>{{field['cash_flow']}}</td>
                    <td>{{field['updated_at']}}</td>
                    <td>{{field['comments']}}</td>
                    <td><p class="details"><a href="/deletefield/{{field['idfarms']}}">Delete</a></p></td>
                </tr>
            {% endfor %}  
            </tbody>
        </table>

        </div>

        <div class="container-fluid">
                
        <h2 id="name">Ready for {{user['fname']}}'s Field Updates: </h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Acres</th>
                    <th>Acre Value</th>
                    <th>Land Value</th>
                    <th>Crop</th>
                    <th>Crop Price</th>
                    <th>Crop Yield</th>
                    <th>Revenue</th>
                    <th>Expenses</th>
                    <th>Cash Flow</th>
                    <th>Last Updated</th>
                    <th>Comments</th>
                    <th>Update</th>
                </tr>
            </thead>                    
            <tbody> 
            {% for field in farm %}
            <form action="/update/{{field['idfarms']}}" method="POST">
                <tr>
                    <td><input type="text" name="location"></td>
                    <td><input type="float" name="acres"></td>
                    <td><input type="float" name="acre_value"></td>
                    <td>{{field['land_value']}}</td>
                    <td><input type="text" name="crop"></td>
                    <td><input type="float" name="crop_price"></td>
                    <td><input type="float" name="crop_yield"></td>
                    <td>{{field['revenue']}}</td>
                    <td><input type="float" name="expenses"></td>
                    <td>{{field['cash_flow']}}</td>
                    <td>{{field['updated_at']}}</td>
                    <td><input type="text" name="comments"></td>
                    <td><input type="submit" value="Update"></td>
                </tr>
            </form>
            {% endfor %}
            </tbody>
        </table>

</body>
</html>