<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>FarmValue</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome to the FarmValue!</h1>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">FarmValue</a>
        </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/farms">Your Farm</a></li>
                <li><a href="/thoughts">FarmValue Board</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/loginregister"><span class="glyphicon glyphicon-user"></span>Sign Up/Login</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2> FarmValue is a simple application that allows farms to track and comment on their fields in order to understand both the long term and short value of their business.</h2>

        <h3>While many applications can be cumbersome and clunky, FarmValue tries to take out all the advertising and unneccessary headaches to make sure you truly understand your bottom line and can prioritize your workload.</h3>

        <h3>FarmValue also allows farmers to talk and build a community to share lessons learned or give each other tips on how to stay profitable in these hard times.</h3>

        <h3>We hope you love FarmValue! So, try it out, give us advice on houw to make it the best possible app, and on your way build the best farm possible!</h3>
    </div>
</body>
</html>